# Web
PyExecJS
requests

# Data
pandas
plotnine
pyyaml

# Shell
rich

# IDE
jupyter
ipykernel

# Core
kats[all]

# others
python-slugify

# Docs
sphinx
sphinx-autobuild
sphinx_rtd_theme
recommonmark
sphinx-markdown-tables
