# Web
PyExecJS
requests

# Data
pandas
plotnine
pyyaml

# Shell
rich

# IDE
jupyter
ipykernel

# Core
prophet

# others
python-slugify
mplfonts

# Docs
sphinx
sphinx-autobuild
sphinx_rtd_theme
recommonmark
sphinx-markdown-tables
